name: Update cards
on:
  schedule:
    - cron: '0 1 * * *' # Check daily for hearthstone card updates
  workflow_dispatch:
permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - run: pip install -U -r python/requirements.txt # Will automatically pull the latest version (and thus card data) from pypi
    - name: Update cards and/or download new set data
      timeout-minutes: 60
      run: |
        CARDS_ERROR=0
        python -u python/update_cards.py || CARDS_ERROR=$?
        if [ $CARDS_ERROR -ne 0 ] # Assume any error means 'please update the script'
        then
          echo "Error running update_cards, running update_update_cards"
          python -u python/update_update_cards.py
          python -u python/update_cards.py
        fi
        
        NUM_FILES=0
        git diff --quiet --exit-code || NUM_FILES=$?
        echo "Detected $NUM_FILES changed files"
        if [ $NUM_FILES -eq 0 ]; then exit 0; fi # If no unstaged files, exit the script
        git config --global user.email "cardle@noreply.github.com"
        git config --global user.name "Cardle crontab"
        git commit -am "Updated cards on $(date)"
        git push
        echo "::error::Failing the action to indicate that we updated cards."
        exit 1

